//
   Created with JetBrains WebStorm.
   User: brentphillips
   Date: 9/08/13
   Time: 8:02 AM
   To change this template use File | Settings | File Templates.

extends layout

block content

    p.hero-unit.span9 Welcome to Brents Blog.....